.container-fluid {
    position: relative;  /* Posiciona el contenedor como relativo para permitir la posición absoluta de sus hijos */
    width: 100%;     
    overflow: hidden;    /* Ocultar cualquier desbordamiento de la imagen */
    text-align: center;  /* Centra el contenido textual */
}

.imagenPrincipal {
    width: 100%;
    height: auto;
    display: block;
}

.textoImagen {
    position: absolute;
    width: 100%;
    font-family: "Great Vibes", cursive;
    font-size: 90px;
    color: rgb(77, 71, 71);
    text-align: center;
    white-space: nowrap; /* Evita el salto de línea en el texto */
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    margin: 0; /* Asegúrate de que no haya márgenes que puedan afectar el espaciado */
    padding: 0; /* Asegúrate de que no haya relleno que pueda afectar el espaciado */
}

.linea1 {
    top: 20%; /* Ajusta la posición vertical del texto para evitar que quede pegado */
}

.linea2 {
    top: 35%; /* Ajusta la posición vertical del texto para evitar que quede pegado */
}

.linea3 {
    top: 50%; /* Ajusta la posición vertical del texto para evitar que quede pegado */
}


.container-fluid img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* La imagen cubrirá todo el contenedor */
}
.detailsSpecial {
    font-family: "Sacramento";
    font-size: 61px;
    color: #706447;
    width: 100%;
}
.details img{
    object-fit: cover; 
    width: 100% !important;
    height: 100% !important;
}

.details{
    width: 30% !important;
    height: auto !important;
}

/* Contenedor de la imagen */
.mesa {
    width: 50%; /* Ajusta según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    overflow: hidden; /* Asegura que no se salgan los bordes del contenedor */
    position: relative; /* Asegura que la imagen se posicione correctamente dentro del contenedor */
}

/* Estilo para la imagen dentro del contenedor */
.mesa img {
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
    width: 100%; /* Asegura que la imagen tenga el 100% del ancho del contenedor */
    height: 100%; /* Asegura que la imagen tenga el 100% del alto del contenedor */
    display: block; /* Elimina el espacio blanco debajo de la imagen */
}


.detailsCorazon img{
    object-fit: cover; 
    width: 100% !important;
    height: 100% !important;
}

.detailsCorazon{
    width: 12% !important;
    height: auto !important;
}

.detailsVideo{
    width: 50% !important;
    height: auto !important;
    display: block;
}

.detailsVideo video{
    object-fit: cover; 
    width: 100% !important;
    height: 100% !important;
}

.detailsText {
    font-family: 'Allura';
    color: rgb(98, 96, 93) ;
    font-size: 40px;
    width: 100%;
    font-style: italic;
    text-shadow: #050505;
}

.otros{
    font-family: 'Allura';
    color: rgb(98, 96, 93) ;
    font-size: 20px; /* Tamaño de la fuente ajustable */
    font-style: normal; /* Asegura que el estilo sea regular, no cursiva */
    letter-spacing: 2px; /* Ajusta el espaciado entre letras */
}

.lineaFalta{
    font-family: 'Allura';
    color: rgb(98, 96, 93) ;
    font-size: 27px; /* Tamaño de la fuente ajustable */
    font-style: normal; /* Asegura que el estilo sea regular, no cursiva */
    letter-spacing: 2px; /* Ajusta el espaciado entre letras */
}


.datos{
    font-family: 'Allura';
    color: rgb(98, 96, 93) ;
    font-size: 26px; /* Tamaño de la fuente ajustable */
    font-style: normal; /* Asegura que el estilo sea regular, no cursiva */
    letter-spacing: 2px; /* Ajusta el espaciado entre letras */
}

.nosEmbarcamos {
    font-family: 'Allura';
    width: 100%;
    color: rgb(98, 96, 93) ;
    font-size: 22px; /* Tamaño de la fuente ajustable */
    text-shadow: #050505;
    letter-spacing: 2px; /* Ajusta el espaciado entre letras */
}

.estasInvitado {
    font-family: 'Great Vibes';
    color: rgb(190, 162, 125);
    font-size: 63px; /* Tamaño de la fuente ajustable */
    font-style: normal; /* Asegura que el estilo sea regular, no cursiva */
    letter-spacing: 5px; /* Ajusta el espaciado entre informacionletras */
}

.hemosReservado {
    font-family: 'Great Vibes';
    color: rgb(98, 96, 93);
    font-size: 55px; /* Tamaño de la fuente ajustable */
    font-style: normal; /* Asegura que el estilo sea regular, no cursiva */
    letter-spacing: 5px; /* Ajusta el espaciado entre letras */
    margin-bottom: 5px; /* Ajusta el margen inferior para acercar la línea */
    text-align: center; /* Centra el número */
}

.linea {
    width: 35%; /* Ajusta el ancho de la línea */
    border-top: 2px solid black; /* Estilo de la línea */
    margin: 0 auto; /* Centra la línea horizontalmente */
    display: block; /* Asegura que el <hr> se comporte como bloque */
}


/* Estilo de la etiqueta */
.input-label {
    font-family: 'Allura', sans-serif;
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 8px;
    text-align: center;
}

/* Estilo del input */
.text-input {
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo del input */
    padding: 12px 16px; /* Espacio interno dentro del input */
    font-family: 'Allura', sans-serif;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none; /* Quita el contorno predeterminado del navegador */
    transition: all 0.3s ease; /* Suaviza las transiciones */
}
.numeroMesa{
    width: 50px;
    height: 50px;
}
/* Estilo cuando el input está enfocado */
.text-input:focus {
    border-color: #8ba986; /* Color del borde al enfocar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    background-color: #f9f9f9; /* Color de fondo más claro */
}

.informacion {
    width: 100%; /* Ancho del contenedor al 100% del contenedor padre */
    padding: 20px; /* Espacio interno de 20px alrededor del contenido */
    text-align: center; /* Alineación del texto y contenido al centro */
    background-image: url("../Img/16.png") !important; /* Ruta a la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-position: center center; /* Centra la imagen de fondo */ 
    background-color: #ffffff; /* Color de fondo temporal */
}

.informacion2 {
    width: 100%; /* Ancho del contenedor al 100% del contenedor padre */
    padding: 20px; /* Espacio interno de 20px alrededor del contenido */
    text-align: center; /* Alineación del texto y contenido al centro */
    background-image: url("../Img/18.png") !important; /* Ruta a la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-position: center center; /* Centra la imagen de fondo */ 
    background-color: #ffffff; /* Color de fondo temporal */
}

.informacion3 {
    width: 100%; /* Ancho del contenedor al 100% del contenedor padre */
    padding: 20px; /* Espacio interno de 20px alrededor del contenido */
    text-align: center; /* Alineación del texto y contenido al centro */
    background-image: url("../Img/21.png") !important; /* Ruta a la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-position: center center; /* Centra la imagen de fondo */ 
    background-color: #ffffff; /* Color de fondo temporal */
}

.informacion4 {
    width: 100%; /* Ancho del contenedor al 100% del contenedor padre */
    padding: 20px; /* Espacio interno de 20px alrededor del contenido */
    text-align: center; /* Alineación del texto y contenido al centro */
    background-image: url("../Img/20.png") !important; /* Ruta a la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-position: center center; /* Centra la imagen de fondo */ 
    background-color: #ffffff; /* Color de fondo temporal */
}

.informacion5 {
    width: 100%; /* Ancho del contenedor al 100% del contenedor padre */
    text-align: center; /* Alineación del texto y contenido al centro */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-position: center center; /* Centra la imagen de fondo */ 
    background-color: #ffffff; /* Color de fondo temporal */
}

.btn-custom {
    background-color: #8ba986 !important; /* Color dorado */
    color: white !important;
    border: none;
    font-family: 'Allura' !important;
    padding: 20px 30px; 
    font-size: 24px !important; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}
.btn-custom:hover {
    background-color: #84795d !important; /* Color dorado más oscuro para el hover */
}
.btn-custom i {
    font-size: 23px;
}

.date-box {
   
    padding: 10px;
    display: flex;
    gap: 10px;
    border-radius: 5px;
    font-family: 'Allura';
}
.time-box {
    border: 1px solid rgb(60, 164, 100);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.time-box .value {
    font-size: 24px;
    font-weight: bold;
}
.time-box .label {
    font-size: 16px;
}

.subtitulos {
    font-family: 'Lobster';
    font-size: 34px;
    color:rgb(190, 162, 125);
    font-style: normal;
    letter-spacing: 1px;
    font-weight: bold;
}

.soloFalta {
    font-family: 'Great Vibes';
    font-size: 43px;
    color: rgb(190, 162, 125);
    font-style: normal;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.inicio {
    text-align: center;
    padding: 20px;
}
.inicio img {
    width: 100%;
    height: auto;
}
.textoImagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.btn-custom {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .textoImagen {
        font-size: 60px; /* Ajusta el tamaño del texto para pantallas más pequeñas */
    }

    .linea1 {
        top: 30%;
    }

    .linea2 {
        top: 50%;
    }

    .linea3 {
        top: 70%;
    }
}
